@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    text-align: center;
    color: white;
}

h2 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.two-col {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.col {
  margin:12px;
}
.selected {
    opacity: 1 !important;
    stroke: black;
    stroke-width: 1px;
}

.button_group {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.legend_button {
    padding: 5 10;
    border-radius: 5px;
    background-color: darkblue;
    color: white;
    border-style: none;
    border-color: none;
    opacity: 0.5;
    margin: 2px;
}


.legend_button:hover {
    opacity: 1;
}

.bubbles {
    overflow: hidden;
    text-overflow: ellipsis;
}

#bubble_legend {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}
.tooltip { 
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    color: black;
    background-color: lightgray;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
}


::selection{
  color: #fff;
  background: #664AFF;
}

.wrapper{
  max-width: 450px;
  margin: 150px auto;
}

.wrapper .search-input{
  background: #fff;
  width: 50%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.search-input input{
  height: 55px;
  width: 50%;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search-input.active input{
  border-radius: 5px 5px 0 0;
}

.autocom-box {
  border-bottom: 1px lightgray solid;
  border-right: 1px lightgray solid;
  border-left: 1px lightgray solid;
  border-radius: 10px;
  position: absolute;
  right: 0;
  left: 0;
}

.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
  width: 50%;
}

.search-input.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
  
  margin-left: auto;
  margin-right: auto;
  
}

.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  cursor: default;
  text-align: center;
  border-radius: 3px;
}

.search-input.active .autocom-box li{
  display: block;
  text-align: center;
}
.autocom-box li:hover{
  background: #efefef;
  color: black;
}

.search-input .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}

.movie_result {
    margin-bottom: 40px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 5px;
    /* padding: 20px; */
    position: absolute;
    left: 0;
    right: 0;
}

.hidden {
    display: none;
}

.PASS {
    color: #71c788;
    padding-bottom: 8px;
}
.FAIL {
    color: #db8181;
    padding-bottom: 8px;
}

.legend_caption {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

#resetButton {
  padding: 2px 4px;
  margin-top: 12px;
}

p {
  margin-bottom:12px;
}


li{
  list-style-type: none;
}

.static_year {
  fill: white;
}

.caption {
  fill: white;
}

.year {
  fill: white;
}

rect.bg{
  opacity: 0;
}

.area {
  opacity: 0.3;
}

.axis line {
  fill: none;
  stroke: #999;
  shape-rendering: crispEdges;
}
line{
  fill: none;
  stroke-width: 3px;
}
path.line{
  fill: none;
  stroke-width: 1.5px;
  transition: 0.1s;
}

.Horror .line {
  stroke: darkred;
}
.Horror .area, .Horror circle, .Horror .label {
  fill: darkred;
}

.Drama .line {
  stroke: red;
}
.Drama .area, .Drama circle, .Drama .label {
  fill: red;
}

.Comedy .line {
  stroke: orange;
}
.Comedy .area, .Comedy circle, .Comedy .label {
  fill: orange;
}

.Sci-Fi .line {
  stroke: slategrey;
}
.Sci-Fi .area, .Sci-Fi circle, .Sci-Fi .label {
  fill: slategrey;
}

.Fantasy .line {
  stroke: indigo;
}
.Fantasy .area, .Fantasy circle, .Fantasy .label {
  fill: indigo;
}

.Historical .line {
  stroke: brown;
}
.Historical .area, .Historical circle, .Historical .label {
  fill: brown;
}

.Romance .line {
  stroke: palevioletred;
}
.Romance .area, .Romance circle, .Romance .label {
  fill: palevioletred;
}

.Action .line {
  stroke: blue;
}
.Action .area, .Action circle, .Action .label {
  fill: blue;
}

.Thriller .line {
  stroke: darkolivegreen;
}
.Thriller .area, .Thriller circle, .Thriller .label {
  fill: darkolivegreen;
}

#highest_gross_chart {
    width: 800px;
    height: 600px;
    margin-left: -60;
}

.stacked_bars_svg {
    overflow-y: scroll;
}

.text {
    fill: white;
}

/* poll */
.poll_question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poll_button {
    margin: 8px 12px;
    padding: 8px 12px;
    width: 350px;
    border-style: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    height: 36px;
}

.poll {
    margin: auto;
}

#highest_grossing_movies {
    font-size: x-small;
}

section {
  padding: 20vh 0 20vh 0;
  background-size: cover;
}

.sec1 {
  padding: 20vh 0 30vh 0;
  background: black;
}

h1 {
  font-size: 42px;
}

.sec2 {
  background: black;
  padding: 20vh 0 35vh 0;
}

.sec3, .sec4, .sec5, .sec6, .sec7 {
  background: black;
  padding: 20vh 0 30vh 0;
}

.correct {
  stroke: #71c788;
  stroke-width: 5
}

.incorrect {
  stroke: #db8181;
  stroke-width: 5;
}

.x-axis-grid > g > line {
  stroke: rgba(255,255,255,0.15);
  stroke-width: 1px;
}

.x-axis-grid > path {
  stroke: none;
}

article {
  column-count: 2;
  column-width: 600px;
}

/* FOR THE GAME */
.game_movie {
  display: none;
  margin: auto;
  margin-top:20px;
}


/* Next & previous buttons */
#game_buttons {
  display: flex;
  flex-flow: row;
  justify-content: center;

}

.prev, .next {
  cursor: pointer;
  color: white;
  font-size: 14px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin-left: 40px;
  margin-right: 40px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: white;
}


.content {
  width:80%;
  text-align: center;
  margin: auto;
}

#game_buttons .next, #game_buttons .prev {
  border: white 1px solid;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 3px;
}